  <h1>Welcome to Resume Builder</h1>

  <p>
   This is a simple application which allows you to create your resume
   and saving it a file format specified by you.
  </p>

  <%= link_to "Create Your Resume now", new_path, :class => "signup_button round" %>

