<h3>Name : <%= @resume.name %></h3>
<div>
Download Your Resume :  <%= link_to(
                            "#{@resume.name}.#{@resume.format}",
                            root_url+"files/#{@resume.name.downcase.split.join("_")}.#{@resume.format}", :target => "_blank") %>
</div>

