<h3>Name : <%= @resume.name %></h3>
<div>
Download Your Resume :  <%= link_to(
                            "#{@resume.name}.#{@resume.format}",
                            download_resume_path(@user), 
                            :target => "_blank") %>
</div>

